
02. Inheritance/Exercise/~$. Java-OOP-Inheritance-Exercises.docx
03. Encapsulation/Exercise/~$. Java-OOP-Encapsulation-Exercises.docx
05. Polymorphism/Exercise/~$. Java-OOP-Polymorphism-Exercises.docx
05. Polymorphism/Lab/03. Animals/Main.java
06. SOLID/Lab/SolidLab-Skeleton/src/solidLab/p01_SingleResponsibility/p01_DrawingShape/Rectangle.java
06. SOLID/Lab/SolidLab-Skeleton/src/solidLab/p01_SingleResponsibility/p01_DrawingShape/Main.java
06. SOLID/Lab/SolidLab-Skeleton/src/solidLab/p01_SingleResponsibility/p01_DrawingShape/interfaces/Shape.java
06. SOLID/Lab/SolidLab-Skeleton/src/solidLab/p01_SingleResponsibility/p01_DrawingShape/interfaces/DrawingRepository.java
06. SOLID/Lab/SolidLab-Skeleton/src/solidLab/p01_SingleResponsibility/p01_DrawingShape/interfaces/DrawingManager.java
06. SOLID/Lab/SolidLab-Skeleton/src/solidLab/p01_SingleResponsibility/p01_DrawingShape/DrawingManagerImpl.java
10. Test Driven Development/Lab/INStock/pom.xml
10. Test Driven Development/Lab/INStock/.idea/misc.xml
10. Test Driven Development/Lab/INStock/.idea/modules.xml
10. Test Driven Development/Lab/INStock/inStock.iml
10. Test Driven Development/Lab/INStock/.idea/libraries/Maven__org_mockito_mockito_all_1_9_5.xml
10. Test Driven Development/Lab/INStock/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
10. Test Driven Development/Lab/INStock/.idea/libraries/Maven__junit_junit_4_12.xml
10. Test Driven Development/Lab/INStock/.idea/jarRepositories.xml
10. Test Driven Development/Lab/INStock/.idea/compiler.xml
07.  Reflection and Annotation/Exercise/03. BarracksWars - A New Factory/.idea/modules.xml
07.  Reflection and Annotation/Exercise/03. BarracksWars - A New Factory/.idea/vcs.xml
07.  Reflection and Annotation/Exercise/03. BarracksWars - A New Factory/.idea/misc.xml
11. Design Patterns/Lab/~$13. Java-OOP-Design-Patterns.pptx
*.xml
07.  Reflection and Annotation/Lab/03. High Quality Mistakes/03. High Quality Mistakes.iml
11. Design Patterns/Lab/Command_Pattern 2/.idea/vcs.xml
11. Design Patterns/Lab/Command_Pattern 2/src/command/Command.java
11. Design Patterns/Lab/Command_Pattern 2/src/command/TurnTVOff.java
11. Design Patterns/Lab/Command_Pattern 2/src/invoker/DeviceButton.java
11. Design Patterns/Lab/Command_Pattern 2/src/receiver/Television.java
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/~$. High Quality Structure_Problem Description.docx
*.iml
07.  Reflection and Annotation/Lab/03. High Quality Mistakes/03. High Quality Mistakes.iml
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/core/ControllerImpl.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/core/EngineImpl$1.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/core/EngineImpl.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/io/ConsoleWriter.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/core/EngineImpl.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/io/ConsoleWriter.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/validator/Validator.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/peripherals/Mouse.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/peripherals/Monitor.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/peripherals/Keyboard.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/peripherals/Headset.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/peripherals/BasePeripheral.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/computers/Laptop.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/computers/DesktopComputer.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/computers/BaseComputer.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/components/VideoCard.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/components/SolidStateDrive.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/components/RandomAccessMemory.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/components/PowerSupply.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/components/Motherboard.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/models/products/components/CentralProcessingUnit.class
*.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/core/EngineImpl.class
13. Exams practice/Java OOP Regular Exam - 16 August 2020/01. High Quality Structure/OnlineShop/out/production/OnlineShop/onlineShop/core/interfaces/Controller.class
